{% extends "base.html" %}

{% block style %}
<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-color: aliceblue;
    }

    .signup {
        background-color: #202033;
        padding: 4rem;
        border-radius: 8px;
    }

    .signup h1 {
        text-align: center;
        color: aliceblue;
        margin-bottom: 1rem;
    }

    .signup label {
        display: block;
        text-align: left;
        color: aliceblue;
        margin-bottom: .5rem;
        font-size: 14px;
    }

    .signup input {
        margin-bottom: 1rem;
        padding: .5rem;
        min-width: 280px;
        border-radius: 4px;
        outline: none;
        border: none;
    }

    .signup button {
        display: block;
        margin: 0 auto;
        background-color: aliceblue;
        color: #202033;
        padding: .75rem 2rem;
        border: none;
        border-radius: 6px;
        margin-top: 1rem;
        cursor: pointer;
    }

    .try_login {
        display: block;
        text-align: center;
        font-size: 14px;
        text-decoration: 14px;
        color: aliceblue;
    }
</style>
{% endblock %}

{% block content %}
<div class="signup">
    <form method="POST">
        <h1>Sign Up</h1>

        <label for="username">Name</label>
        <input type="text" placeholder="Enter your name" name="username" />

        <label for="email">Email</label>
        <input type="email" placeholder="Enter your email" name="email" />

        <label>Password</label>
        <input type="password" placeholder="Enter your password" name="password" />

        <a href="{{ url_for('login') }}" class="try_login">Try Login</a>

        <button type="submit" style="margin-top: 1rem;">Sign Up</button>
    </form>
</div>
{% endblock %}